/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }


body {
  background-color: #FFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 26px;
  color:rgb(35,35,35);
}

h1,h2,h3,h4,h5,h6,p {
 font-family: inherit;
 font-size: inherit;
}

h1 {
 font-size: 4em;
 line-height: 1em;
}

h2 {
 font-size: 2em;
 line-height: 1em;
}
p{
  font-size: 1em;
  line-height: 1.5em;
}

a {
  color:inherit;
  text-decoration: none;
}

p a {
  color: rgba(50,100,100, 1);
}

p a:hover {
  text-decoration: underline;
}

ul {
  list-style-type:none;
}

.title{
  font-family: helvetica, sans-serif;
}

/*****************************************************************************/
/*
/* Default 
/*
/*****************************************************************************/

header{
  width:100%;
  height:15em;
  position:relative;
  overflow: hidden;
}

/*Add a color green filter*/
header .img-container {
  position: absolute;
  top:0;
  background-color: rgba(150,255,255,0.4);
  width:100%;
  height:100%;
}

header img{
  position:absolute;
  width:100%;
  min-width:800px;
  z-index: -1;
}

header h1{
  margin:10px;
  position: absolute;
  width:500px;
  font-size: 5em;
  bottom:0px;
  margin-bottom: 1em;
  color:white;
}

@media (max-width: 380px){
  header h1{
    font-size: 4em;
  }
}

@media(max-width:449px){
  .body-container{
    padding:1em 10px;
  }
}
@media(min-width:450px){
  .body-container{
    padding:2em 18%;
  }
}

h2{
  /*line-height: 0em;*/
}

@media(min-width:450px){
  time.date-post{
    word-spacing:; 
    display: block;
    position:absolute;
    left:-3em;
    top:0.15em;
    width:2.2em;
    padding:0em 0.2em 0.5em ;
    border-right:solid 2px lightgrey;
    font-size: 2.6em;
    font-style: italic;
  }
}

@media(max-width:450px){
  time.date-post{
    font-size: 1em;
  }
}

time.date-post{
    text-align:right;
    font-weight: lighter;
    color:lightgrey;
}
/*****************************************************************************/
/*
/* Index 
/*
/*****************************************************************************/
.about {

  color:grey;
  margin-bottom:2em;
}


ul.posts li{
  position:relative;
  margin:2em 0;
  text-align: justify;
}


/*****************************************************************************/
/*
/* Article 
/*
/*****************************************************************************/

div.post-container {
  position: relative;
}

.post {
  margin-top: 10px;
  /*text-align: justify;*/
}

.post p{
  margin-bottom:1em;
}

