<ul class="breadcrumb">
  <li><a href="/">Katas</a></li>
  <li class='active'>{{name}}</li>
</ul>

<div class="container">
  <h2> {{title}}</h2>
  <code id='kata-content'>{{text}}</code>
  <div class="alert alert-success hide">
    <strong> Congratulations ! </strong> You successfully passed this kata. You might want to try the <a href="/kata/next" class="alert-link">next one</a>.
  </div>
  <div class="alert alert-error hide">
    <strong> Not quite yet ! </strong> Something's different. But what ?
  </div>
  <div class='container'>
    <code><textarea id='kata-input' class="form-control" rows="15" placeholder="Start typing when you're ready" autofocus></textarea></code>
    <br>
    <p class='text-right'> <button id='validate-kata' class="btn btn-primary">Check it !</button> </p>
  </div>
</div>

  <!-- Script for the validation of typekata -->
  <!-- For the first draft, inside the html directly -->
  <script>
$('#validate-kata').click(function() {
  console.log('Tadaa')
  console.log($('#kata-content').text())
  console.log($('#kata-input').val())
  if ($('#kata-content').text() === $('#kata-input').val()) {
    $('.alert-success').removeClass('hide')
    $('.alert-error').addClass('hide')
  } else {
    $('.alert-error').removeClass('hide')
    $('.alert-success').addClass('hide')
  }
})
  </script>
