.container
  %h1
    TypeKata is where developers learn to type faster.

  %p With TypeKata, you can practice your typing skills on small bits of code and see your typing speed increase as you practice.

  %h2 What's a Kata?
  %p A Kata is an exercise performed repeatedly to achieve mastery of a skill.

  %h2 How is typing speed measured?
  %p
    Typing speed is measured in
    %b Words Per Minute
    (WPM), where a word is considered to be 5 characters long on average.

  %h2 Where does TypeKata come from?
  %p
    TypeKata is an open source project maintained by Victor and Johan.
    %a{href: "http://github.com/victormours/typekata"}
      Find us on github!



